body {
    background-color: #f5f6f7 !important;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    margin: 0;
}
.top-content {
    background-color: #f5f6f7 !important;
    box-shadow: 0 1px 5px #cccccc;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.top-content div {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    vertical-align: middle;
}
.top-content .top-h1 {
    background-color: #009ad6;
    height: 64px;
    font-size: 24px;
}
.top-content .top-h1 a {
    line-height: 30px;
    margin-left: 3px;
    margin-right: 3px;
}
.top-content .top-h1 a,
.top-content .top-h1 a:link,
.top-content .top-h1 a:visited {
    color: #ffffff;
    text-decoration: none;
    line-height: 64px;
}
.top-content .top-h2 {
    height: 20px;
    font-size: 14px;
    padding-left: 30px;
    overflow: hidden;
    transition: max-height 0.25s;
}
.top-content .top-h2 a {
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.top-content .top-h2 a,
.top-content .top-h2 a:link,
.top-content .top-h2 a:visited {
    color: #3f3f3f;
    text-decoration: none;
}
.top-content .top-h2 a:hover {
    font-weight: bold;
}

.main-content-wrap {
    margin: 104px 50px 20px 20px;
    width: calc(100vw - 70px);
}
.main-content {
    background-color: #ffffff;
    border-radius: 3px;
    margin: auto;
    min-height: calc(100vh - 70px);
    width: calc(100vw - 90px);
    max-width: 1200px;
}
.content {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.bosses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; /* 如果要让boss的高度相同，注释这行 */
    /* justify-content: space-around; */
    width: 100%;
}
.boss-wrap {
    background-color: #f5f5f5;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    width: 200px;
    padding: 10px 10px 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: small;
    color: #2f2f2f;
    cursor: pointer;
}
.boss-wrap:hover,
.boss-wrap.active {
    background-color: #ddf5fe;
}
.boss-profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.boss-name-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 0 10px;
}
/* .boss-name {
    color: #2f2f2f;
    font-size: small;
} */
.boss-rate {
    color: #3f3f3f;
    font-size: smaller;
}
.boss-info {
    color: #3f3f3f;
    font-size: smaller;
}
input[class="boss-detail-check"] {
    display: none;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.boss-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
}
.boss-detail-check-up {
    display: none;
}
.boss-detail-check-down,
.boss-detail-check-up {
    color: #999999;
    cursor: pointer;
    text-align: center;
    height: 22px;
    width: 100%;
}
.boss-detail-check-down:hover img,
.boss-detail-check-up:hover img {
    height: 22px;
}
.boss-detail-check:checked ~ .boss-detail-check-up {
    display: inline-block;
}
.boss-detail-check:checked ~ .boss-detail-check-down {
    display: none;
}
.boss-detail-check:checked ~ .boss-detail {
    max-height: 800px !important; /* 如果高度不够的话，继续加 */
}
.boss-detail-value {
    margin: 5px 0;
}
.boss-detail-value span {
    /* font-size: small; */
    padding: 0 10px;
}
.boss-detail-value span:first-child {
    background-color: #1abc9c;
    color: #ffffff;
}
.boss-detail-value span:last-child {
    background-color: #ffffff;
}

.battle-tabs button {
    background-color: inherit;
    color: #3f3f3f;
    border-color: rgba(222, 222, 222, 0.5);
    border-radius: 100px;
    border-width: 1px;
    cursor: pointer;
    padding: 2px 12px;
    /* transition: 0.25s; */
    margin: 0 1px;
}
.battle-tabs button:hover {
    background-color: #b6dcfe;
}
.battle-tabs button.active {
    color: #ffffff;
    background-color: #49a8fc;
}
.battle-tabs span {
    margin-left: 10px;
}
.battle-tab-content {
    display: none;
    padding: 10px 0;
    width: 1200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    bottom: -4px; /* fix: 位置偏上，未完全测试 */
}
.switch input {
    display: none;
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    border-radius: 20px;
    transition: 0.25s;
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.25s;
}
.switch .slider:hover {
    background-color: #b6dcfe;
}
.switch input:checked + .slider {
    background-color: #49a8fc;
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px #49a8fc;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.table-header {
    background-color: #f8f9fc;
    border-radius: 3px;
    color: #3f3f3f;
    width: 1140px;
    font-size: small;
    padding: 3px 10px;
    margin: 20px 0 0 0;
}
.table-header div {
    display: inline-block;
    text-align: center;
}
/* 批量/分刀  阵容  参考伤害  特殊说明 */
.table-header div:nth-child(1) {
    width: 95px;
}
.table-header div:nth-child(2) {
    margin-left: 5px;
    width: 215px;
}
.table-header div:nth-child(3) {
    margin-left: 10px;
    width: 90px;
}
.table-header div:nth-child(4) {
    width: 300px;
}
.table-header div:nth-child(5) {
    margin-left: 40px;
    width: 366px;
}

.homeworks {
    display: inline-block;
}
.homework-wrap {
    background-color: #f2f4fa;
    border: 1px #cccccc solid;
    border-radius: 5px;
    min-height: 75px;
    width: 740px; /* 100 + 230 + 100 + 300 + 20padding*/
    padding: 10px;
    margin: 5px 0;
}
.homework-up {
    align-items: center;
    height: 75px;
    display: flex;
    justify-content: start;
    text-align: center;
}
.batch-check-label {
    color: #ffffff;
    border-radius: 4px;
    line-height: 28px;
    height: 28px;
    width: 75px;
    background-color: #49a8fc;
    cursor: pointer;
}
.units {
    display: flex;
    flex-direction: row;
    height: 62px;
    width: 210px;
    margin: 0 10px;
}
.unit {
    background-color: #ffffff;
    border-radius: 3px;
    height: 60px;
    width: 40px;
    font-size: small;
    margin: 1px;
}
.unit img {
    height: 40px;
    width: 40px;
}
.damage-value {
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    width: 100px;
}
.homework-info {
    font-size: small;
    color: #3f3f3f;
    width: 300px;
    text-align: left;
}
.videos {
    font-size: small;
    line-height: 34px;
    /* height: 32px; */
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.videos span {
    margin-right: 16px;
}
.video,
.video-add {
    background: #ffffff;
    border-radius: 3px;
    line-height: 28px;
    height: 28px;
    padding: 0 6px;
    margin: 3px 6px 3px 0;
    box-shadow: 0px 1px 2px #cccccc;
    cursor: pointer;
}
.video a:link,
.video a:visited {
    /* color: #d93f62; */
    color: #ff679a; /* 取自B站 */
    text-decoration: none;
}
.video:hover {
    background-color: #ffecf0;
}
.video-add,
.homework-add,
.joy-add {
    color: #cccccc;
    border: 1px dashed #cccccc;
}
.video-add:hover,
.homework-add:hover,
.joy-add:hover {
    background-color: #f8f8f8;
}
.homework-add,
.joy-add {
    background-color: #ffffff;
    text-align: center;
    line-height: 75px;
    font-size: larger;
    cursor: pointer;
}
.joyshow {
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    margin-top: 5px;
    width: 390px;
    column-count: 2;
    -webkit-column-count: 2;
    column-width: 200px;
    column-gap: 0;
    font-size: small;
    /* background-color: #49a8fc; */
}
.joy {
    box-sizing: border-box;
    display: inline-block;
    break-inside: avoid;
    margin: 0 5px 5px 0;
    /* background-color: #1a0c9c; */
    width: 190px;
    border-radius: 3px;
    overflow: hidden;
}
.joy img {
    width: 190px;
    height: auto;
    vertical-align: top;
}

.right-content {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
}
.right-content a {
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-content a:hover {
    background-color: #49a8fc;
}
/* 弹窗 */
.window-shadow {
    align-items: center;
    background-color: rgba(245, 246, 247, 0.66);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9999;
}
.window-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: inset 0 -2px 0 #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0 15px;
    font-size: small;
    max-height: 85%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.window-add-homework {
    width: 470px;
}
.window-inner::-webkit-scrollbar {
    display: none;
}
.input-row {
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.box {
    z-index: 9999;
}
.window-add-homework-wrap,
.window-add-video-wrap,
.window-add-joy-wrap,
.window-connect-wrap {
    display: none;
}
.candidate-unit-wrap {
    width: 470px;
    margin-bottom: 10px;
}
.unit-icon {
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #cccccc;
    height: 36px;
    width: 36px;
    margin: 1px 0 0 1px;
    cursor: pointer;
    opacity: 0.75;
}
.unit-icon.active,
.unit-icon:hover {
    border: 1px solid #ff679a;
    opacity: 1;
}
.unit-icon img {
    height: 36px;
    width: 36px;
}
.select-unit-wrap {
    font-size: small;
    margin-bottom: 20px;
}
.select-unit-imgs {
    display: inline-block;
    width: 52px;
    text-align: center;
    cursor: pointer;
}
.select-boss-wrap {
    float: left;
    margin: 2px 2px 0 0;
    text-align: center;
    width: 48px;
}
.select-boss img {
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
}
.select-unit-img {
    height: 48px;
    width: 48px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 1px;
}
.select-unit-img img {
    height: 48px;
    width: 48px;
}
.window-shadow div input,
.window-shadow div select {
    border: 1px solid #cccccc;
    border-radius: 3px;
}
input.select-unit {
    width: 50px;
    pointer-events: none;
}
select {
    width: 80px;
}
select#select-stage,
select#select-auto {
    margin-right: 20px;
}
input#input-damage {
    width: 80px;
}
input#input-info {
    width: 100%;
}
.close-window-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    color: rgba(204, 204, 204, 0.8);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
}
.check-info {
    white-space: nowrap;
    text-align: center;
    color: #a80808;
}
.cancel-confirm {
    margin: auto;
    bottom: 20px;
    padding: 20px 0;
    text-align: center;
}
.cancel {
    background-color: #fcfcfc;
    border-radius: 3px;
    color: #3f3f3f;
    padding: 3px 10px;
    margin: 1px 6px;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.cancel:hover {
    background-color: #eeeeee;
}
.confirm {
    background-color: #49a8fc;
    border-radius: 3px;
    color: #ffffff;
    padding: 3px 10px;
    margin: 1px 6px;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.confirm:hover {
    background-color: #46a0f0;
}
.window-add-video,
.window-add-joy {
    width: 320px;
}
input#input-add-video-title,
input#input-add-video-link {
    margin: 0 5px;
    width: 280px;
}
input#input-add-joy-text,
input#input-add-joy-img {
    width: 320px;
    margin: 5px 0;
}